.container {
    width: 100vw;
    /* background-color: #0F161C; */
    color: black;
}

.skills {
    width: calc(80vw - 2rem);
    margin: 2rem auto;
    padding: 1rem;
}

.skills ul {
    /* background-color: rgb(199, 180, 254); */
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    list-style: none;
}