:root {
  --background: #1A232C;
  --active-link: #20C863;
  --emph-text: #20C863;
  --green: #20C863;
  /* --background: #e5e9fe; */
  /* --background: #f1f8f8; */
  --primary: #0F1035;
  --secondary: #365486;
  --light-blue: #7FC7D9;
  --light-background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color:white;
  font-family: 'Poppins', 'san-sarif';
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
  font-size: 2rem;
  color: #20C863;
}

a {
  color:#20C863;
}

h3 {
  color: #20C863;
}

table {
  border-collapse: collapse;
  width: 500px;
}

th, td {
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

th {
  background-color: #4CAF50;
  color: white;
}
