.container {
    padding-top: 8rem;
    width: 100vw;
    background-color: var(--background);
    padding-bottom: 2rem;
}

.patents {
    width: 80vw;
    margin: auto;
}

.patents-container {
    width: 100%;
    overflow-x: auto;
    white-space: initial;
    scrollbar-width: none;
}

.patents-container > div {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.patent-card {
    height:300px;
    background-color: #0F161C;
    padding: 1rem;
}

.patent-card h3 {
    color: white;
    white-space: initial;
}

.patent-card hr {
    margin-top: 1rem;
    width: 20%;
    border: 2px solid var(--green);
}

.patent-card p {
    white-space: initial;
}

@media only screen and (max-width: 1400px) {
    .patents-container > div {
        grid-template-columns: 1fr 1fr;
    }
}